@inject IViewLocalizer Localizer

@{ 
    this.ViewData["Title"] = "About us";
}

<div class="about-us-container">
    <section class="banner">
        <section class="banner-image">
            <section class="banner-title-container">
                <h1 class="banner-title">@Localizer["About us"]</h1>
            </section>
        </section>
    </section>
    <section class="site-content">
        <section class="container">
            <section class="row">
                <section class="data-container">
                    <article class="about-us">
                        <section class="col1 text">
                            <section class="col1-inner">
                                <header class="col-header">
                                    <h1 class="col-header-title">@Localizer["Mission"]</h1>
                                </header>
                                <main>
                                    <p class="col-text">@Localizer["Quality and safety of the products, made with artisanal care, a strict selection process that only approves certified raw materials and defines production procedures which are capable of guaranteeing the Customer maximum peace of mind in the commercial field."]</p>
                                </main>
                            </section>
                        </section>
                        <section class="col2 mobile-image">
                            <section class="col2-inner">
                                <section class="col-image" id="mission-image"></section>
                            </section>
                        </section>
                    </article>
                    <article class="about-us">
                        <section class="col1">
                            <section class="col1-inner">
                                <section class="col-image" id="vision-image"></section>
                            </section>
                        </section>
                        <section class="col2">
                            <section class="col2-inner">
                                <header class="col-header">
                                    <h1 class="col-header-title">@Localizer["Vision"]</h1>
                                </header>
                                <main>
                                    <p class="col-text">
                                        @Localizer["Good things are beautiful, because it is beautiful to feel good."]
                                        <br>
                                        @Localizer["This is the image we have projected on to the market, through our products and our transparent commercial choices."]
                                    </p>
                                </main>
                            </section>
                        </section>
                    </article>
                    <article class="about-us">
                        <section class="col1 text">
                            <section class="col1-inner">
                                <header class="col-header">
                                    <h1 class="col-header-title">@Localizer["For 40 years Producers of Wellbeing"]</h1>
                                </header>
                                <main>
                                    <p class="col-text">@Localizer["Initially, our reference market was the production of cakes, where the company is still the leading company in Europe with a national market share of 93%."]</p>
                                </main>
                            </section>
                        </section>
                        <section class="col2 mobile-image">
                            <section class="col2-inner">
                                <section class="col-image" id="cake-image"></section>
                            </section>
                        </section>
                    </article>
                    <article class="about-us">
                        <section class="col1 mobile-image">
                            <section class="col1-inner">
                                <section class="col-image height-350" id="quality-image"></section>
                            </section>
                        </section>
                        <section class="col2">
                            <section class="col2-inner">
                                <header class="col-header">
                                    <h1 class="col-header-title">@Localizer["Producers of quality"]</h1>
                                </header>
                                <main>
                                    <p class="col-text">
                                        @Localizer["For 40 years Producers of Quality."]
                                        <br>
                                        @Localizer["After this first step, the company grew until it became the top Italian waxworks and one of the major players in Europe, soon even giving its Asian competitors a run for their money."]
                                    </p>
                                </main>
                            </section>
                        </section>
                    </article>
                </section>
            </section>
        </section>
    </section>
</div>

@section CustomCss {
    <link href="~/css/about-us.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/scroll-down-arrow.css" rel="stylesheet" asp-append-version="true" />
}