@inject IViewLocalizer Localizer
@model ChatViewModel
@{
    this.ViewData["Title"] = Localizer["Chat"];
}

<input id="groupId" name="@this.Model.GroupId" value="@this.Model.GroupId" type="hidden" />
<h3 id="receiver" class="panel-title" style="display: none;">@this.Model.ReceiverUsername</h3>
<h3 id="sender" class="panel-title" style="display: none;">@this.Model.SenderUsername</h3>

<div class="container">
    <ul class="chat-holder" id="messagesList">
        @if (this.Model.ChatMessages != null && this.Model.ChatMessages.Count > 0)
        {
            @foreach (var message in this.Model.ChatMessages.OrderBy(m => m.CreatedOn))
            {
                <li class="chat-@(message.AuthorUserName == this.Model.SenderUsername ? "user" : "other")">
                    <small class="text-muted px-2">
                        @message.AuthorUserName,
                        <time datetime="@message.CreatedOn.ToString("O")"></time>
                    </small>
                    <div>@Html.Raw(message.Content)</div>
                </li>
            }
        }
    </ul>
</div>
<div class="chat-field-holder">
    <div class="container">
        <div class="form-group mx-auto my-1">
            <div class="input-group">
                <input id="messageInput"
                       class="form-control p-4 bg-transparent chat-input"
                       onkeydown="userType('@this.Model.ReceiverUsername')"
                       onblur="userStopType('@this.Model.ReceiverUsername')"
                       onkeyup="changeRemainingLength()"
                       placeholder="@Localizer["Type a message..."]"
                       autocomplete="off"
                       autofocus>
                <span id="remainingLength" class="tt-value-input">@GlobalConstants.ChatMessageMaxLength</span>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-primary px-4" id="sendButton">
                        <i id="fromImage" class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section CustomCss {
    <link href="~/chat/css/chat.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/chat/js/chat.js" asp-append-version="true"></script>
    <script src="~/chat/js/chatPerformanceScript.js" asp-append-version="true"></script>
    <script>
        function changeRemainingLength() {
            let value = $("#messageInput").val();
            let count = (@GlobalConstants.ChatMessageMaxLength - value.length);

            $('#remainingLength').html(count);

            if (count < 0) {
                $("#messageInput").addClass("error");
            } else {
                $("#messageInput").removeClass("error");
            }
        }
    </script>
}