@using MelegPerfumes.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-select.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/buttons.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/testimonials.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/navbar.css" rel="stylesheet" asp-append-version="true" />
    @await this.RenderSectionAsync("CustomCss", false)
</head>
<body class="website-body">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light box-shadow layout-navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="All">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <div class="navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-header" asp-area="Identity" asp-page="/Account/Manage/Index">
                                        @User.Identity.Name
                                        @{ var claim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/authenticationmethod");
                                            if (claim != null)
                                            {
                                                @:(@claim.Value)
                                            }
                                        }
                                    </a>
                                    <a class="dropdown-item" asp-controller="Profile" asp-action="Index">My profile</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ChangePassword">Change password</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Edit">Edit profile</a>
                                    <div class="dropdown-divider"></div>
                                    <h6 class="dropdown-header">Orders</h6>
                                    @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                                    {

                                        <a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="Index">All orders</a>
                                        <a class="dropdown-item" asp-area="Administration" asp-controller="Products" asp-action="Create">Create a product</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="Index">My orders</a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))" method="post">
                                        <button type="submit" class="dropdown-item text-danger">Logout</button>
                                    </form>
                                </div>
                            </li>
                        }
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <partial name="_CookieConsentPartial" />

    @if (TempData.ContainsKey(GlobalConstants.TempDataSuccessMessageKey))
    {
        <div id="response-message" class="alert alert-primary fade show mb-0" role="alert" style="top: 3.5rem; left: 0; z-index: 9999; position: fixed; width: 100%;">
            <div class="container d-flex flex-row">
                <i class="fas fa-check fa-2x align-self-center"></i>
                <p class="pl-3 pb-0 my-2" style="font-size: 1rem;">@TempData[GlobalConstants.TempDataSuccessMessageKey]</p>
                <div class="ml-auto">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span class="fas fa-times" aria-hidden="true" style="vertical-align: middle; font-size: 15px;"></span>
                    </button>
                </div>
            </div>
        </div>
    }
    @if (TempData.ContainsKey(GlobalConstants.TempDataErrorMessageKey))
    {
        <div id="response-message" class="alert alert-danger fade show mb-0" role="alert" style="top: 3.5rem; left: 0; z-index: 9999; position: fixed; width: 100%;">
            <div class="container d-flex flex-row">
                <i class="fas fa-exclamation-circle fa-2x align-self-center"></i>
                <p class="pl-3 pb-0 my-2" style="font-size: 1rem;">@TempData[GlobalConstants.TempDataErrorMessageKey]</p>
                <div class="ml-auto">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span class="fas fa-times" aria-hidden="true" style="vertical-align: middle; font-size: 15px;"></span>
                    </button>
                </div>
            </div>
        </div>
    }

    <main>
        <div>
            @this.RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted bg-gray">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <div class="float-right">
                <a href="/">@GlobalConstants.SystemName</a> &copy; 2019-@(DateTime.UtcNow.Year) - <a href="https://github.com/BorisLechev/MelegPerfumes" target="_blank">
                    <i class="fab fa-github"></i> Open source system
                </a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/js/popper.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-select.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>