@using Microsoft.AspNetCore.Http.Features
@inject IViewLocalizer Localizer

@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

<style>
    #cookieConsent {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 9999;
    }

        #cookieConsent.box-shadow {
            opacity: 0.9;
        }
</style>

@if (showBanner)
{
    <div class="alert alert-warning fade show mb-0" role="alert" id="cookieConsent">
        <div class="container d-flex flex-row">
            <i class="fas fa-cookie-bite fa-2x align-self-center"></i>
            <div class="pl-3">
                <strong>@GlobalConstants.SystemName @Localizer["uses cookies to provide you with a better experience."]</strong>
                <p class="mb-0">@Localizer["By continuing to use this website, you consent to the use of cookies."]</p>
            </div>
            <div class="align-self-center ml-auto">
                <button type="button" class="btn btn-secondary" id="cookieAcceptButton" data-cookie-string="@cookieString">@Localizer["Accept"]</button>
            </div>
        </div>
    </div>
    <script>
        (function () {
            document.getElementById("cookieAcceptButton").addEventListener("click",
                function (el) {
                    document.cookie = el.target.dataset.cookieString;
                    $("#cookieConsent").alert('close');
                },
                false);
        })();
    </script>
}