@using TizianaTerenzi.Common
@using System.Security.Claims;
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-select.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/reset.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/buttons.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/testimonials.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/navbar.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/footer.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/datatables.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/aos/dist/aos.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" asp-append-version="true" />
    @await this.RenderSectionAsync("CustomCss", false)
</head>
<body class="website-body">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light box-shadow layout-navbar">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <picture>
                    <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1588236442/product_images/xelpbxklgtxrjpyxw6he.png" id="logo" alt="Tiziana-Terenzi-logo" style="filter: invert(1);" />
                </picture>
            </a>
            <button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-lg-inline-flex">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="All">@Localizer["Products"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">@Localizer["About Us"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Contacts" asp-action="Index">@Localizer["Contacts"]</a>
                    </li>
                </ul>
                <div class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <h5 class="dropdown-header">Statistics</h5>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Charts" asp-action="Index">Charts</a>
                                    <div class="dropdown-divider"></div>
                                    <h5 class="dropdown-header">Orders</h5>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Orders" asp-action="Index">All orders</a>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Orders" asp-action="Pending">Pending orders</a>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Orders" asp-action="Processed">Processed orders</a>
                                    <div class="dropdown-divider"></div>
                                    <h5 class="dropdown-header">Products</h5>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Products" asp-action="Create">Create a product</a>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Notes" asp-action="Create">Create a note</a>
                                    <div class="dropdown-divider"></div>
                                    <h5 class="dropdown-header">General discount</h5>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="GeneralDiscounts" asp-action="Index">Discount</a>
                                    <div class="dropdown-divider"></div>
                                    <h5 class="dropdown-header">Discount codes</h5>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="DiscountCodes" asp-action="Index">All discount codes</a>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="DiscountCodes" asp-action="Create">Create a discount code</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-header" asp-area="Identity" asp-page="/Account/Manage/Index">
                                    @User.Identity.Name
                                    @{ var claim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/authenticationmethod");
                                        if (claim != null)
                                        {
                                            @:(@claim.Value)
                                        }
                                    }
                                </a>
                                <a class="dropdown-item" asp-controller="Profile" asp-action="Index" asp-route-userId="@this.User.FindFirst(ClaimTypes.NameIdentifier).Value">@Localizer["My profile"]</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ChangePassword">@Localizer["Change password"]</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Edit">@Localizer["Edit profile"]</a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">@Localizer["Orders"]</h6>
                                @if (!User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <a class="dropdown-item" href="/profile/orders/my">@Localizer["My orders"]</a>
                                }
                                <div class="dropdown-divider"></div>
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))" method="post">
                                    <button type="submit" class="dropdown-item text-danger">@Localizer["Logout"]</button>
                                </form>
                            </div>
                        </li>
                    }

                    <partial name="_LoginPartial" />

                    @if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Wishlist" asp-action="Index">
                                <i class="far fa-heart text-dark"></i>
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Cart" asp-action="Index" class="cart-badge">
                            <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1588236603/product_images/rocigfl0qtntlqqr35k4.webp" id="cart" class="nav-link black-cart" alt="cart">
                            <vc:number-of-products-in-the-users-cart></vc:number-of-products-in-the-users-cart>
                        </a>
                    </li>
                    <li class="nav-item">
                        <partial name="_SelectLanguagePartial" />
                    </li>
                </div>
            </div>
        </nav>
    </header>

    <partial name="_CookieConsentPartial" />

    @if (TempData.ContainsKey(GlobalConstants.TempDataSuccessMessageKey))
    {
        <div id="response-message" class="alert alert-primary fade show mb-0" role="alert" style="top: 3.5rem; left: 0; z-index: 9999; position: fixed; width: 100%;">
            <div class="container d-flex flex-row">
                <i class="fas fa-check fa-2x align-self-center"></i>
                <p class="pl-3 pb-0 my-2" style="font-size: 1rem;">@TempData[GlobalConstants.TempDataSuccessMessageKey]</p>
                <div class="ml-auto">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span class="fas fa-times" aria-hidden="true" style="vertical-align: middle; font-size: 15px;"></span>
                    </button>
                </div>
            </div>
        </div>
    }
    @if (TempData.ContainsKey(GlobalConstants.TempDataErrorMessageKey))
    {
        <div id="response-message" class="alert alert-danger fade show mb-0" role="alert" style="top: 3.5rem; left: 0; z-index: 9999; position: fixed; width: 100%;">
            <div class="container d-flex flex-row">
                <i class="fas fa-exclamation-circle fa-2x align-self-center"></i>
                <p class="pl-3 pb-0 my-2" style="font-size: 1rem;">@TempData[GlobalConstants.TempDataErrorMessageKey]</p>
                <div class="ml-auto">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span class="fas fa-times" aria-hidden="true" style="vertical-align: middle; font-size: 15px;"></span>
                    </button>
                </div>
            </div>
        </div>
    }

    <main>
        <div>
            @this.RenderBody()
            <partial name="_BackToTheTopPartial" />
        </div>
    </main>
    <partial name="_TestimonialsPartial" />
    <vc:subscribe-newsletter></vc:subscribe-newsletter>

    <footer id="site-footer" class="border-top footer text-muted bg-gray">
        <div class="first-footer row">
            <div class="col-lg-3 logo-footer-container">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <picture>
                        <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1588236442/product_images/xelpbxklgtxrjpyxw6he.png" id="logo" alt="Tiziana-Terenzi-logo" style="filter: invert(1);" />
                    </picture>
                </a>
            </div>
            <div class="col-lg-3 mb-2">
                <header>
                    <h5 class="footer-col-title">Tiziana Terenzi</h5>
                </header>
                <main class="footer-list-items">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">About us</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Terms">Terms</a></li>
                        <li><a asp-area="" asp-controller="Products" asp-action="All">Products</a></li>
                        <li><a asp-area="" asp-controller="Contacts" asp-action="Index">Contacts</a></li>
                        <li><a asp-area="" asp-controller="Cart" asp-action="Index">Cart</a></li>
                    </ul>
                </main>
            </div>
            <div class="col-lg-3 mb-2">
                <article>
                    <header>
                        <h5 class="footer-col-title">Where we are</h5>
                        <h6 class="footer-subtitle">Headquarter</h6>
                    </header>
                    <main class="footer-where-we-are-list-items">
                        <p>Via Bizet snc</p>
                        <p>47841 Cattolica (RN) – Italy</p>
                        <p>Ph. <a href="tel:+390541820311">+39 0541 820311</a></p>
                        <p>Fax <a href="fax:+390541.820312">+39 0541.820312</a></p>
                    </main>
                </article>
            </div>
            <div class="col-lg-3">
                <div class="social-box">
                    <p>Follow us on social media</p>
                    <a class="social">
                        <img class="icon-media-svg facebook" src="https://res.cloudinary.com/pictures-storage/image/upload/v1614244514/product_images/xfp7lmiynhsftuuqw7bd.svg" />
                    </a>
                    <a class="social">
                        <img class="icon-media-svg twitter" src="https://res.cloudinary.com/pictures-storage/image/upload/v1614248499/product_images/mze9x24cs1cynxz6vuyz.svg" />
                    </a>
                    <a class="social">
                        <img class="icon-media-svg youtube" src="https://res.cloudinary.com/pictures-storage/image/upload/v1614248523/product_images/sz6umluver1vmvftosc6.svg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="second-footer row">
            <div class="text-center col-md-3">
                <span>&copy; 2011-@DateTime.UtcNow.Year - <a href="https://tizianaterenzi.com/" target="_blank">@GlobalConstants.SystemName</a></span>
            </div>
            <div class="text-center col-md-7">
                <span>@Localizer["This site is made by Boris Lechev for educational and non-commercial purposes only."] - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
            </div>
            <div class="text-center col-md-2">
                <a href="https://github.com/BorisLechev/TizianaTerenziShop-MVC" target="_blank">
                    <i class="fab fa-github"></i> @Localizer["Open source system"]
                </a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/js/popper.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-select.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/js/datatables-init.js" asp-append-version="true"></script>
    <script src="~/js/datatables.min.js" asp-append-version="true"></script>
    <script src="~/lib/aos/dist/aos.min.js" asp-append-version="true"></script>
    <script>
        AOS.init({
            offset: 125,
            duration: 600,
            once: true
        });
    </script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>