@model ProductDetailsViewModel

@{ 

}

<main id="main">
    <section>
        <section class="section-product-details">
            <section class="page-container">
                <section class="row">
                    <article class="image-wrapper">
                        <section class="inner-image-wrapper">
                            <section class="image-container">
                                @*<input class="slider-input" checked type=radio name="slider" id="slide1" />
                                <input class="slider-input" type=radio name="slider" id="slide2" />
                                <input class="slider-input" type=radio name="slider" id="slide3" />*@
                                <div class="slider-wrapper">
                                    <div class=inner>
                                        <article>
                                            <img class="product-image" src="@Model.Picture" />
                                        </article>
                                        @*<article>
                                            <img class="product-image" src="@Model.Picture" />
                                        </article>
                                        <article>
                                            <img class="product-image" src="@Model.Picture" />
                                        </article>*@
                                    </div>
                                </div>
                                @*<div class="slider-prev-next-control">
                                    <label for=slide1></label>
                                    <label for=slide2></label>
                                    <label for=slide3></label>
                                </div>
                                <div class="slider-dot-control">
                                    <label for=slide1></label>
                                    <label for=slide2></label>
                                    <label for=slide3></label>
                                </div>*@
                            </section>
                        </section>
                    </article>
                    <article class="details-wrapper">
                        <header class="details-header-container">
                            <h3 class="product-title">@Model.Name</h3>
                        </header>
                        <main class="details-main-container">
                            <dl>
                                <dt class="notes-section">
                                    <h6 class="section-title">Notes</h6>
                                </dt>
                                <dd class="notes"><p>@string.Join(", ", Model.Notes)</p></dd>
                            </dl>
                            <section class="product-price-container">€ @Model.Price EUR</section>
                            <section class="product-quantity-container">
                                <span class="product-quantity-inner-container">
                                    <span class="quantity">1</span>
                                    <span class="increase-btn"></span>
                                    <span class="decrease-btn"></span>
                                </span>
                            </section>
                            <section class="btn-container">
                                <a class="button">Add to cart</a>
                            </section>
                        </main>
                    </article>
                </section>
            </section>
        </section>
        <section class="description">
            <header>
                <h5 class="description-title">Description</h5>
            </header>
            <main>
                <p>@Html.Raw(Model.Description)</p>
            </main>
        </section>
    </section>
</main>

<partial name="_TestimonialsPartial" />

@section CustomCss {
    <link href="~/css/product-details.css" rel="stylesheet" asp-append-version="true" />
}