@using System.Security.Claims
@inject IViewLocalizer Localizer
@model ProductDetailsViewModel

@{
    void DisplayComments(int? parentId)
    {
        var comments = this.Model.Comments.Where(c => c.ParentId == parentId);

        if (!comments.Any())
        {
            return;
        }

        <div class="comments-container">
            <ul class="comments-list">
                @foreach (var comment in comments)
                {
                    <li>
                        <div class="comment-main-level">
                            <div class="comment-avatar"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" alt=""></div>
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name by-name">
                                        <span class="author">@comment.UserUserName</span>
                                        @if (comment.UserUserName == this.User.Identity.Name)
                                        {
                                            <span class="tag-author">author</span>
                                        }
                                    </h6>
                                    <div class="text-muted small">
                                        <time datetime="@comment.CreatedOn.ToString("O")"></time>
                                        @if (comment.ParentId == null && this.User.Identity.IsAuthenticated)
                                        {
                                            <i class="fa fa-reply" onclick="showAddCommentForm(@comment.Id)"></i>
                                        }
                                        <div>
                                            @if (!comment.Votes.Any(v => v.UserId == (this.User.FindFirstValue(ClaimTypes.NameIdentifier))) || (int)(comment.Votes.SingleOrDefault(vote => vote.UserId == (this.User.FindFirstValue(ClaimTypes.NameIdentifier))).Type) == 0)
                                            {
                                                <i id="heart-@comment.Id" class="fa fa-heart" onclick="sendVote(@comment.Id)"></i>
                                            }
                                            else
                                            {
                                                <i id="heart-@comment.Id" class="fa fa-heart voted" onclick="sendVote(@comment.Id)"></i>
                                            }
                                            <span id="votesCount-@comment.Id" style="float: right;">@comment.VotesSum</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-content">
                                    @Html.Raw(comment.SanitizedContent)
                                </div>
                            </div>
                        </div>
                        @{ DisplayComments(comment.Id); }
                    </li>
                }
            </ul>
        </div>
    }
    <form id="votesForm" method="post"></form>
}

@{ DisplayComments(null); }
<section style="margin-left: 1rem; margin-right: 1rem;">
    <form asp-controller="Comments" asp-action="Create" method="post" id="AddCommentForm" style="display: none">
        <input type="hidden" name="ProductId" value="@this.Model.Id" />
        <input type="hidden" name="ParentId" value="0" />
        <div>
            <label for="Content"></label>
            <textarea name="Content" id="Content" class="form-control"></textarea>
        </div>
        <div>
            <input type="submit" class="btn btn-primary btn-comment" value="Add comment" />
        </div>
    </form>
</section>
