@inject IViewLocalizer Localizer

<article class="items-col animate__animated" data-aos="zoom-in">
    <section class="wrapper-item">
        <section class="wrapper-item-inner">
            <section class="product-image-container">
                <a class="product-image-link" href="@this.Model.Url" title="@this.Model.Name">
                    <img class="product-image front" src="@this.Model.Picture" alt="@this.Model.Name">
                    <img class="product-image back" src="@this.Model.Picture" alt="@this.Model.Name">
                    <section class="image-overlay"></section>
                </a>
            </section>
            @if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <section>
                    <form asp-area="" asp-controller="Wishlist" asp-action="Add" asp-route-productId="@this.Model.Id" method="post">
                        <button class="wishlist-btn stickers" type="submit">
                            <i class="wishlist-icon"></i>
                        </button>
                    </form>
                </section>
            }
            @if (this.Model.Price != this.Model.PriceWithGeneralDiscount)
            {
                <section>
                    <div class="sticker-discount stickers">
                        <span class="sticker-text">-@this.Model.Discount%</span>
                    </div>
                </section>
            }
            <section>
                @if ((this.Model.YearOfManufacture == DateTime.UtcNow.Year || this.Model.YearOfManufacture == DateTime.UtcNow.AddYears(-1).Year) && this.Model.Price == this.Model.PriceWithGeneralDiscount)
                {
                    <div class="sticker-new-top stickers">
                        <span class="sticker-text">@Localizer["New"]</span>
                    </div>
                }
                else if ((this.Model.YearOfManufacture == DateTime.UtcNow.Year || this.Model.YearOfManufacture == DateTime.UtcNow.AddYears(-1).Year) && this.Model.Price != this.Model.PriceWithGeneralDiscount)
                {
                    <div class="sticker-new stickers">
                        <span class="sticker-text">@Localizer["New"]</span>
                    </div>
                }
            </section>
            <section class="actions">
                <div class="link-actions"></div>
                <form asp-area="" asp-controller="Cart" asp-action="AddProductInTheCart" asp-route-productId="@this.Model.Id" method="post">
                    <button class="btn-cart" type="submit">@Localizer["Add to Cart"]</button>
                </form>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a asp-area="Administration" asp-controller="Products" asp-action="Edit" asp-route-productId="@this.Model.Id" class="btn-edit">
                        <span>@Localizer["Edit Product"]</span>
                    </a>
                    <button class="button-delete" data-toggle="modal" data-target="#deleteProductModal">
                        <span>@Localizer["Delete Product"]</span>
                    </button>
                }
            </section>
        </section>
        <section class="star-rating" title="@this.Model.AverageVote.ToString("0.0")">
            <partial name="_StarRatingPartial" model="@this.Model" />
        </section>
        <section class="product-info">
            <a title="@this.Model.Name" href="@this.Model.Url">
                <header>
                    <h6 class="product-name">
                        <span>@this.Model.Name</span>
                    </h6>
                </header>
                <footer class="price-box">
                    @if (this.Model.Price > this.Model.PriceWithGeneralDiscount)
                    {
                        <div class="old-price-box">
                            <span class="old-price">@this.Model.Price</span>
                        </div>
                    }
                    <div>
                        <span class="price">EUR @this.Model.PriceWithGeneralDiscount</span>
                    </div>
                </footer>
            </a>
        </section>
    </section>
</article>

<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin-top: 6rem;">
        <div class="modal-content">
            <form asp-area="Administration" asp-controller="Products" asp-action="Delete" asp-route-id="@this.Model.Id" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">@Localizer["Delete Product"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>@Localizer["Product deletion is"] <b class="text-danger">@Localizer["immediate and irreversible"]</b>.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Localizer["Cancel"]</button>
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash"></i> @Localizer["Delete Product"]
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>