@model ProductsListViewModel

@{

}

<div class="main">
    <section class="container">
        <section class="row">
            <section class="inner-row">
                <section class="products-list-container">
                    <section class="products-list">
                        @foreach (var product in Model.Products)
                        {
                            <article class="items-col">
                                <section class="wrapper-item">
                                    <section class="wrapper-item-inner">
                                        <section class="product-image-container">
                                            <a class="product-image-link" href="@product.Url" title="@product.Name">
                                                <img class="product-image front" src="@product.Picture" alt="@product.Name">
                                                <img class="product-image back" src="@product.Picture" alt="@product.Name">
                                                <section class="image-overlay"></section>
                                            </a>
                                        </section>
                                        <section class="actions">
                                            <div class="link-actions"></div>
                                            <form asp-area="" asp-controller="Cart" asp-action="AddProductInTheCart" asp-route-productId="@product.Id" method="post">
                                                <button class="btn-cart" type="submit">Add to Cart</button>
                                            </form>
                                            @if (this.User.Identity.IsAuthenticated)
                                            {
                                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                                {
                                                    <a class="btn-edit" href="/administration/product/edit/@product.Id">
                                                        <span>Edit Product</span>
                                                    </a>
                                                    <form asp-area="Administration" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" method="post">
                                                        <button class="button-delete" type="submit">
                                                            <span>Delete Product</span>
                                                        </button>
                                                    </form>
                                                }
                                            }
                                        </section>
                                    </section>
                                    <section class="product-info">
                                        <a title="@product.Name" href="@product.Url">
                                            <header>
                                                <h6 class="product-name">
                                                    <span>@product.Name</span>
                                                </h6>
                                            </header>
                                            <footer class="price-box">
                                                <span class="price">EUR @product.Price</span>
                                            </footer>
                                        </a>
                                    </section>
                                </section>
                            </article>
                        }
                    </section>
                </section>
            </section>
        </section>
    </section>
</div>

<partial name="_PagingPartial" model="@Model" />

<partial name="_TestimonialsPartial" />
@*<partial name="_SubscribeNewsletterPartial" />*@

@section CustomCss {
    <link href="~/css/products.css" rel="stylesheet" asp-append-version="true" />
}