@inject IViewLocalizer Localizer
@model ProductsListViewModel

@{
    this.ViewData["Title"] = Localizer["Products"];
    this.ViewData["Meta-Description"] = "Tiziana Terenzi draws its inspiration from the endless research and desire of enclosing emotions through the evocative power of fire and life lived at its fullness. Anniversary, with the stylistic idea of absolute purity, without any artificial adjustment. Luna, along with dreams and tears, love and reason, days of idleness and unfinished deeds, nestled in precious glass ampoules, just like the chivalric epic teaches. Luna Star Attar, with its handmade crystal bottle, to contain a perfume nectar with a pleasant and velvety consistency like honey. Luna Star Extrait de Parfum, with the creative flair aiming at new wonderful peaks and designed to preserve refined extracts. Assoluto, with the dreamlike experience of knowledge and magic in the shape of exclusive drops limited to a selected few. Comets, with its floating in the sky and a design enclosing transparencies and color, along with precious golds and the most refined art of Italian jewelry. Each Tiziana Terenzi collection paints a scenario of light, splendor and tales.";
    this.ViewData["Meta-Keywords"] = GlobalConstants.SystemName + "Perfume,Products,Candles,Wax,Italy,Talian,Cereria Terenzi Evelino " + string.Join(",", this.Model.Products.Select(p => p.Name));
}

<div class="main">
    <section class="container">
        <section class="breadcrumbs-banner">
            <div style="width: 100%;">
                <nav class="breadcrumbs">
                    <ul>
                        <li class="home">
                            <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                        </li>
                        <li class="dashboard">
                            <span>@this.ViewData["Title"]</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="search-sort-container">
            <section class="sorting-drop-down-container col-lg-3">
                <label class="control-label" style="margin-right: 1rem;">@Localizer["Sort by"]:</label>

                <form id="sorting-form" asp-area="" asp-controller="Products" asp-action="All" asp-route-page="1" method="get">
                    <section class="field">
                        <select asp-for="@this.Model.Sorting" id="sort" class="form-control selectpicker" name="sorting">
                            <option value="@((int)ProductSorting.Default)">Default</option>
                            <option value="@((int)ProductSorting.Product_A_Z)">Product: A - Z</option>
                            <option value="@((int)ProductSorting.PriceAscending)">Price: Ascending</option>
                            <option value="@((int)ProductSorting.PriceDescending)">Price: Descending</option>
                            <option value="@((int)ProductSorting.YearOfReleaseAscending)">Year: Ascending</option>
                            <option value="@((int)ProductSorting.YearOfReleaseDescending)">Year: Descending</option>
                        </select>
                    </section>
                </form>
            </section>
            <form class="col-lg-7" method="get" asp-area="" asp-controller="Products" asp-action="All" asp-route-page="1">
                <div class="search-container input-group">
                    <input type="search" name="search" class="form-control" value="@this.Model.Search" placeholder="@Localizer["Search for products, splitted by whitespace"]..." />
                    <div class="input-group-append">
                        <input type="submit" value="@Localizer["Search"]" class="btn btn-outline-primary" />
                    </div>
                </div>
            </form>
            <section class="found-products-count-container col-lg-2">
                <span>@this.Model.ItemsCount @Localizer["Products"]</span>
            </section>
        </section>
        <section class="row">
            <section class="inner-row">
                <section class="products-list-container">
                    <section class="products-list">
                        @foreach (var product in this.Model.Products)
                        {
                            <partial name="_ProductCardPartial" model="@product" />
                        }
                    </section>
                </section>
            </section>
        </section>
    </section>
</div>

<partial name="_PagingPartial" model="@this.Model" />

<form method="post" id="antiForgeryForm"></form>

@section CustomCss {
    <link href="~/css/products.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/product-card.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/breadcrumbs.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script>
        $("#sort").change(function () {
            $("#sorting-form").submit();
        });

        function sendProductVote(productId, voteValue) {
            let data = { productId: productId, value: voteValue }; // postCommentVoteInputModel
            let antiForgeryToken = $("#antiForgeryForm input[name=__RequestVerificationToken]").val();

            $.ajax({
                url: "/votes/product/post",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                headers: { "X-CSRF-TOKEN": antiForgeryToken },
                success: function (data) {
                    $(`.stars-${data.productId}`).css({
                        'width': `${+data.averageVote * 20}%`,
                        'position': 'absolute',
                        'color': 'rgb(255, 188, 11)',
                        'overflow': 'hidden',
                    });
                    $('.star-rating').attr('title', data.averageVote.toFixed(1));
                },
            });
        }
    </script>
}