@inject IViewLocalizer Localizer
@model ProductsListViewModel

@{
    this.ViewData["Products"] = "Products";
    // TODO: Refactor this
    var criteria = new Dictionary<string, string>()
{
        { "all-products", "All Products" },
        { "product-a-z", "Product: A - Z" },
        { "price-ascending", "Price: Ascending" },
        { "price-descending", "Price: Descending" },
        { "year-of-release-ascending", "Year of Release: Ascending" },
        { "year-of-release-descending", "Year of Release: Descending" }
    };
}

<div class="main">
    <section class="container">
        <section class="search-sort-container">
            <section class="sorting-drop-down-container col-lg-3">
                <label class="control-label" style="margin-right: 1rem;">@Localizer["Sort by"]:</label>

                <form id="sorting-form" asp-area="" asp-controller="Products" asp-action="All" asp-route-page="1" asp-route-criteria="@((string)this.ViewData["criteria"])" method="get">
                    <section class="field">
                        <select id="sort" class="form-control selectpicker" name="criteria">
                            @foreach (var elem in criteria)
                            {
                                if (elem.Key == (string)this.ViewData["criteria"])
                                {
                                    <option value="@elem.Key" selected>@elem.Value</option>
                                }
                                else
                                {
                                    <option value="@elem.Key">@elem.Value</option>
                                }
                            }
                        </select>
                    </section>
                </form>
            </section>
            <form class="col-lg-7" method="get" asp-area="" asp-controller="Products" asp-action="All" asp-route-page="1">
                <div class="search-container input-group">
                    <input type="search" name="search" class="form-control" value="@this.Model.Search" placeholder="@Localizer["Search for products, splitted by whitespace"]..." />
                    <div class="input-group-append">
                        <input type="submit" value="@Localizer["Search"]" class="btn btn-outline-primary" />
                    </div>
                </div>
            </form>
            <section class="found-products-count-container col-lg-2">
                <span>@this.Model.ItemsCount @Localizer["Products"]</span>
            </section>
        </section>
        <section class="row">
            <section class="inner-row">
                <section class="products-list-container">
                    <section class="products-list">
                        @foreach (var product in Model.Products)
                        {
                            <article class="items-col">
                                <section class="wrapper-item">
                                    <section class="wrapper-item-inner">
                                        <section class="product-image-container">
                                            <a class="product-image-link" href="@product.Url" title="@product.Name">
                                                <img class="product-image front" src="@product.Picture" alt="@product.Name">
                                                <img class="product-image back" src="@product.Picture" alt="@product.Name">
                                                <section class="image-overlay"></section>
                                            </a>
                                        </section>
                                        @if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                        {
                                            <section>
                                                <form asp-area="" asp-controller="Wishlist" asp-action="Add" asp-route-productId="@product.Id" method="post">
                                                    <button class="wishlist-btn" type="submit">
                                                        <i class="wishlist-icon"></i>
                                                    </button>
                                                </form>
                                            </section>
                                        }
                                        <section class="actions">
                                            <div class="link-actions"></div>
                                            <form asp-area="" asp-controller="Cart" asp-action="AddProductInTheCart" asp-route-productId="@product.Id" method="post">
                                                <button class="btn-cart" type="submit">@Localizer["Add to Cart"]</button>
                                            </form>
                                            @if (this.User.Identity.IsAuthenticated)
                                            {
                                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                                {
                                                    <a asp-area="Administration" asp-controller="Products" asp-action="Edit" asp-route-productId="@product.Id" class="btn-edit">
                                                        <span>@Localizer["Edit Product"]</span>
                                                    </a>
                                                    <form asp-area="Administration" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" method="post">
                                                        <button class="button-delete" type="submit">
                                                            <span>@Localizer["Delete Product"]</span>
                                                        </button>
                                                    </form>
                                                }
                                            }
                                        </section>
                                    </section>
                                    <section class="product-info">
                                        <a title="@product.Name" href="@product.Url">
                                            <header>
                                                <h6 class="product-name">
                                                    <span>@product.Name</span>
                                                </h6>
                                            </header>
                                            <footer class="price-box">
                                                <span class="price">EUR @product.Price</span>
                                            </footer>
                                        </a>
                                    </section>
                                </section>
                            </article>
                        }
                    </section>
                </section>
            </section>
        </section>
    </section>
</div>

<partial name="_PagingPartial" model="@Model" />

@section CustomCss {
    <link href="~/css/products.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script>
        $("#sort").change(function () {
            $("#sorting-form").submit();
        });
    </script>
}