@inject IViewLocalizer Localizer
@model ProductDetailsViewModel

@{ 
    this.ViewData["Title"] = Model.Name;
}
<main id="main">
    <section>
        <section class="section-product-details">
            <section class="page-container">
                <section class="row">
                    <article class="image-wrapper">
                        <section class="inner-image-wrapper">
                            <section class="image-container">
                                @*<input class="slider-input" checked type=radio name="slider" id="slide1" />
                                    <input class="slider-input" type=radio name="slider" id="slide2" />
                                    <input class="slider-input" type=radio name="slider" id="slide3" />*@
                                <div class="slider-wrapper">
                                    <div class=inner>
                                        <article>
                                            <img class="product-image" src="@this.Model.Picture" />
                                        </article>
                                        @*<article>
                                                <img class="product-image" src="@Model.Picture" />
                                            </article>
                                            <article>
                                                <img class="product-image" src="@Model.Picture" />
                                            </article>*@
                                    </div>
                                </div>
                                @*<div class="slider-prev-next-control">
                                        <label for=slide1></label>
                                        <label for=slide2></label>
                                        <label for=slide3></label>
                                    </div>
                                    <div class="slider-dot-control">
                                        <label for=slide1></label>
                                        <label for=slide2></label>
                                        <label for=slide3></label>
                                    </div>*@
                            </section>
                        </section>
                    </article>
                    <article class="details-wrapper">
                        <header class="details-header-container">
                            <h1 class="product-title">@this.Model.Name</h1>
                            <h5>@this.Model.FragranceGroupName</h5>
                        </header>
                        <main class="details-main-container">
                            <dl>
                                <dt class="year-section">
                                    <h6 class="section-title">@Localizer["Rating"]</h6>
                                </dt>
                                <dd>
                                    <section class="star-rating" title="@this.Model.AverageVote">
                                        <div class="back-stars">
                                            <i class="fa fa-star" onclick="sendProductVote(@this.Model.Id, 1)"></i>
                                            <i class="fa fa-star" onclick="sendProductVote(@this.Model.Id, 2)"></i>
                                            <i class="fa fa-star" onclick="sendProductVote(@this.Model.Id, 3)"></i>
                                            <i class="fa fa-star" onclick="sendProductVote(@this.Model.Id, 4)"></i>
                                            <i class="fa fa-star" onclick="sendProductVote(@this.Model.Id, 5)"></i>

                                            <div class="front-stars" id="stars-@this.Model.Id" style="width: @(this.Model.PercentFillStars)%">
                                                <i class="fa fa-star" onclick="sendProductVote(@this.Model.Id, 1)"></i>
                                                <i class="fa fa-star" onclick="sendProductVote(@this.Model.Id, 2)"></i>
                                                <i class="fa fa-star" onclick="sendProductVote(@this.Model.Id, 3)"></i>
                                                <i class="fa fa-star" onclick="sendProductVote(@this.Model.Id, 4)"></i>
                                                <i class="fa fa-star" onclick="sendProductVote(@this.Model.Id, 5)"></i>
                                            </div>
                                        </div>
                                        <span id="averageVoteValue">@this.Model.AverageVote.ToString("0.0")</span><span> / 5</span><span id="numberOfVoters"> (@this.Model.NumberOfVoters)</span>
                                    </section>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="year-section">
                                    <h6 class="section-title">@Localizer["Year"]</h6>
                                </dt>
                                <dd>
                                    <p class="year">@this.Model.YearOfManufacture</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="notes-section">
                                    <h6 class="section-title">@Localizer["Notes"]</h6>
                                </dt>
                                <dd>
                                    <p class="notes">@string.Join(", ", Model.Notes)</p>
                                </dd>
                            </dl>
                            <section class="product-price-container">€ @this.Model.PriceWithDiscount EUR</section>
                            @if (this.Model.Price > this.Model.PriceWithDiscount)
                            {
                                <section class="product-old-price-container">€ @this.Model.Price EUR</section>
                            }
                            <section class="product-quantity-container">
                                <span class="product-quantity-inner-container">
                                    <span class="quantity">1</span>
                                    <span id="@(Model.Id)-increase" class="increase-btn"></span>
                                    <span id="@(Model.Id)-decrease" class="decrease-btn"></span>
                                </span>
                            </section>
                            <section class="btn-container">
                                <form asp-area="" asp-controller="Cart" asp-action="AddProductInTheCart" asp-route-productId="@this.Model.Id" method="post">
                                    <button class="button" type="submit">@Localizer["Add to Cart"]</button>
                                </form>
                            </section>
                        </main>
                    </article>
                </section>
            </section>
        </section>
        <section class="description">
            <header>
                <h5 class="description-title">@Localizer["Description"]</h5>
            </header>
            <main>
                <p>@Html.Raw(Model.SanitizedDescription)</p>
            </main>
        </section>

        <partial name="_CommentsPartial.cshtml" />
    </section>
</main>

<form method="post" id="antiForgeryForm"></form>

<script src="~/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: ["image paste table link code media"]
    });
</script>

@section Scripts {
    <script>
        function showAddCommentForm(parentId) {
            $("#AddCommentForm input[name='ParentId']").val(parentId);
            $("#AddCommentForm").show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddCommentForm").offset().top
            }, 1000);
        }

        function sendVote(commentId) {
            let antiForgeryToken = $("#antiForgeryForm input[name=__RequestVerificationToken]").val();
            let json = { commentId: commentId }; // postCommentVoteInputModel

            $.ajax({
                url: "/votes/comment/post",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': antiForgeryToken },
                success: function (data) {
                    $(`#votesCount-${commentId}`).html(data.votesCount);
                    if (data.isUpVoted === true) {
                        $(`#heart-${commentId}`).addClass("voted");
                    } else {
                        $(`#heart-${commentId}`).removeClass("voted");
                    }
                }
            });
        }

        function sendProductVote(productId, voteValue) {
            let data = { productId: productId, value: voteValue }; // postCommentVoteInputModel
            let antiForgeryToken = $("#antiForgeryForm input[name=__RequestVerificationToken]").val();

            $.ajax({
                url: "/votes/product/post",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                headers: { "X-CSRF-TOKEN": antiForgeryToken },
                success: function (data) {
                    $(`#stars-${data.productId}`).css('width', `${+data.averageVote * 20}%`);
                    $(`#stars-${data.productId}`).css('position', 'absolute');
                    $(`#stars-${data.productId}`).css('color', 'rgb(255, 188, 11)');
                    $(`#stars-${data.productId}`).css('overflow', 'hidden');
                    $('#averageVoteValue').html(data.averageVote);
                    $('.star-rating').attr('title', data.averageVote);
                    $('#numberOfVoters').html(`(${data.numberOfVoters})`);
                },
            });
        }
    </script>
}

@section CustomCss {
    <link href="~/css/product-details.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/comments.css" rel="stylesheet" asp-append-version="true" />
}