@inject IViewLocalizer Localizer
@model ProductDetailsViewModel

@{
    this.ViewData["Title"] = this.Model.Name;
}

<main id="main">
    <section>
        <section class="section-product-details">
            <section class="breadcrumbs-banner" style="padding-top: 3rem;">
                <div style="width: 100%;">
                    <nav class="breadcrumbs">
                        <ul>
                            <li class="home">
                                <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                            </li>
                            <li class="dashboard">
                                <a asp-area="" asp-controller="Products" asp-action="All">@Localizer["All Products"]</a>
                            </li>
                            <li class="dashboard">
                                <span>@this.ViewData["Title"]</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <section class="page-container">
                <section class="row">
                    <article class="image-wrapper">
                        <section class="inner-image-wrapper">
                            <section class="image-container">
                                @*<input class="slider-input" checked type=radio name="slider" id="slide1" />
                                    <input class="slider-input" type=radio name="slider" id="slide2" />
                                    <input class="slider-input" type=radio name="slider" id="slide3" />*@
                                <div class="slider-wrapper">
                                    <div class=inner>
                                        <article>
                                            <img class="product-image" src="@this.Model.Picture" />
                                        </article>
                                        @*<article>
                                                <img class="product-image" src="@Model.Picture" />
                                            </article>
                                            <article>
                                                <img class="product-image" src="@Model.Picture" />
                                            </article>*@
                                    </div>
                                </div>
                                @*<div class="slider-prev-next-control">
                                        <label for=slide1></label>
                                        <label for=slide2></label>
                                        <label for=slide3></label>
                                    </div>
                                    <div class="slider-dot-control">
                                        <label for=slide1></label>
                                        <label for=slide2></label>
                                        <label for=slide3></label>
                                    </div>*@
                            </section>
                        </section>
                    </article>
                    <article class="details-wrapper">
                        <header class="details-header-container">
                            <h1 class="product-title">@this.Model.Name</h1>
                            <h5>@this.Model.FragranceGroupName</h5>
                        </header>
                        <main class="details-main-container">
                            <dl>
                                <dt class="year-section">
                                    <h6 class="section-title">@Localizer["Rating"]</h6>
                                </dt>
                                <dd>
                                    <section class="star-rating" title="@this.Model.AverageVote.ToString("0.0")">
                                        <partial name="_StarRatingPartial" />
                                        <span class="averageVoteValue">@this.Model.AverageVote.ToString("0.0")</span><span> / 5</span><span id="numberOfVoters"> (@this.Model.NumberOfVoters)</span>
                                    </section>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="year-section">
                                    <h6 class="section-title">@Localizer["Year"]</h6>
                                </dt>
                                <dd>
                                    <p class="year">@this.Model.YearOfManufacture</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="notes-section">
                                    <h6 class="section-title">@Localizer["Notes"]</h6>
                                </dt>
                                <dd>
                                    <p class="notes">@string.Join(", ", Model.Notes)</p>
                                </dd>
                            </dl>
                            <section class="product-price-container">€ @this.Model.PriceWithGeneralDiscount EUR</section>
                            @if (this.Model.Price > this.Model.PriceWithGeneralDiscount)
                            {
                                <section class="product-old-price-container">€ @this.Model.Price EUR</section>
                            }
                            <section class="product-quantity-container">
                                <span class="product-quantity-inner-container">
                                    <span class="quantity">1</span>
                                    <span id="@(Model.Id)-increase" class="increase-btn"></span>
                                    <span id="@(Model.Id)-decrease" class="decrease-btn"></span>
                                </span>
                            </section>
                            <section class="btn-container">
                                <form asp-area="" asp-controller="Cart" asp-action="AddProductInTheCart" asp-route-productId="@this.Model.Id" method="post">
                                    <button class="button" type="submit">@Localizer["Add to Cart"]</button>
                                </form>
                            </section>
                        </main>
                    </article>
                </section>
            </section>
        </section>
        <section class="description">
            <header>
                <h3 class="description-title">@Localizer["Description"]</h3>
            </header>
            <main>
                <p>@Html.Raw(Model.SanitizedDescription)</p>
            </main>
        </section>
        <section class="col-xs-12">
            <header class="rating-chart-header">
                <h3 class="rating-chart-title">@Localizer["Opinions"]</h3>
            </header>
            <main class="col-xs-12" style="display: flex; flex-wrap: wrap;">
                <div class="col-md-8">
                    <div class="rating-chart-container">
                        <div class="rating-avrg-box">
                            <span class="average-wrapper">
                                <strong class="average-rating">
                                    <strong class="averageVoteValue">@this.Model.AverageVote.ToString("0.0")</strong>
                                </strong>
                                /
                                <strong>5</strong>
                            </span>
                            <section class="star-rating" title="@this.Model.AverageVote.ToString("0.0")">
                                <partial name="_StarRatingPartial" />
                            </section>
                            <section class="voters-wrapper">
                                <span class="count-voters">@this.Model.NumberOfVoters </span>
                                <span>@Localizer["voters"]</span>
                            </section>
                        </div>
                        <div class="ratings-chart-wrapper">
                            <div class="rating-box-wrapper rating-row-5">
                                <a class="rating-info" onclick="sendProductVote(@this.Model.Id, 5)">
                                    <span>5 @Localizer["stars"]</span>
                                </a>
                                <span class="rating-box">
                                    <span class="rating rating-colour-row-5" style="width: @(this.Model.ShareOfVotesWithValueOfFive)%;"></span>
                                </span>
                            </div>
                            <div class="rating-box-wrapper rating-row-4">
                                <a class="rating-info" onclick="sendProductVote(@this.Model.Id, 4)">
                                    <span>4 @Localizer["stars"]</span>
                                </a>
                                <span class="rating-box">
                                    <span class="rating rating-colour-row-4" style="width: @(this.Model.ShareOfVotesWithValueOfFour)%;"></span>
                                </span>
                            </div>
                            <div class="rating-box-wrapper rating-row-3">
                                <a class="rating-info" onclick="sendProductVote(@this.Model.Id, 3)">
                                    <span>3 @Localizer["stars"]</span>
                                </a>
                                <span class="rating-box">
                                    <span class="rating rating-colour-row-3" style="width: @(this.Model.ShareOfVotesWithValueOfThree)%;"></span>
                                </span>
                            </div>
                            <div class="rating-box-wrapper rating-row-2">
                                <a class="rating-info" onclick="sendProductVote(@this.Model.Id, 2)">
                                    <span>2 @Localizer["stars"]</span>
                                </a>
                                <span class="rating-box">
                                    <span class="rating rating-colour-row-2" style="width: @(this.Model.ShareOfVotesWithValueOfTwo)%;"></span>
                                </span>
                            </div>
                            <div class="rating-box-wrapper rating-row-1">
                                <a class="rating-info" onclick="sendProductVote(@this.Model.Id, 1)">
                                    <span>1 @Localizer["stars"]</span>
                                </a>
                                <span class="rating-box">
                                    <span class="rating rating-colour-row-1" style="width: @(this.Model.ShareOfVotesWithValueOfOne)%"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <header class="add-review-header">
                        <h3 class="opinion-title-question">@Localizer["Do you have an opinion on this product?"]</h3>
                    </header>
                    <main>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <div>
                                <button type="button" class="btn btn-primary btn-comment float-left" onclick="showAddCommentForm(0)"><i class="fa fa-plus"></i>&nbsp; @Localizer["Comment"]</button>
                            </div>
                            <div class="clearfix"></div>
                        }
                    </main>
                </div>
            </main>
        </section>

        <partial name="_CommentsPartial.cshtml" />

        <section class="container">
            <header class="related-products-header">
                <h3 class="related-products-title">@Localizer["Related Products"]</h3>
            </header>
            <main class="row">
                @foreach (var relatedProduct in this.Model.RelatedProducts)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <partial name="_ProductCardPartial" model="relatedProduct" />
                    </div>
                }
            </main>
        </section>
    </section>
</main>

<form method="post" id="antiForgeryForm"></form>

<script src="~/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: ["image paste table link code media"]
    });
</script>

@section Scripts {
    <script>
        function showAddCommentForm(parentId) {
            $("#AddCommentForm input[name='ParentId']").val(parentId);
            $("#AddCommentForm").show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddCommentForm").offset().top
            }, 1000);
        }

        function sendVote(commentId) {
            let antiForgeryToken = $("#antiForgeryForm input[name=__RequestVerificationToken]").val();
            let json = { commentId: commentId }; // postCommentVoteInputModel

            $.ajax({
                url: "/votes/comment/post",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': antiForgeryToken },
                success: function (data) {
                    $(`#votesCount-${commentId}`).html(data.votesCount);
                    if (data.isUpVoted === true) {
                        $(`#heart-${commentId}`).addClass("voted");
                    } else {
                        $(`#heart-${commentId}`).removeClass("voted");
                    }
                }
            });
        }

        function sendProductVote(productId, voteValue) {
            let data = { productId: productId, value: voteValue, }; // postProductVoteInputModel
            let antiForgeryToken = $("#antiForgeryForm input[name=__RequestVerificationToken]").val();

            $.ajax({
                url: "/votes/product/post",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                headers: { "X-CSRF-TOKEN": antiForgeryToken },
                success: function (data) {
                    $(`.stars-${data.productId}`).css({
                        'width': `${+data.averageVote * 20}%`,
                        'position': 'absolute',
                        'color': 'rgb(255, 188, 11)',
                        'overflow': 'hidden',
                    });

                    $('.averageVoteValue').html(data.averageVote.toFixed(1));
                    $('.star-rating').attr('title', data.averageVote.toFixed(1));
                    $('#numberOfVoters').html(`(${data.numberOfVoters})`);
                    $('.count-voters').html(data.numberOfVoters);
                    $('.rating-colour-row-5').css('width', `${data.shareOfVotesWithValueOfFive.toFixed(1)}%`);
                    $('.rating-colour-row-4').css('width', `${data.shareOfVotesWithValueOfFour.toFixed(1)}%`);
                    $('.rating-colour-row-3').css('width', `${data.shareOfVotesWithValueOfThree.toFixed(1)}%`);
                    $('.rating-colour-row-2').css('width', `${data.shareOfVotesWithValueOfTwo.toFixed(1)}%`);
                    $('.rating-colour-row-1').css('width', `${data.shareOfVotesWithValueOfOne.toFixed(1)}%`);
                },
            });
        }
    </script>
}

@section CustomCss {
    <link href="~/css/product-details.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/product-card.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/comments.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/breadcrumbs.css" rel="stylesheet" asp-append-version="true" />
}