@model IEnumerable<OrdersListingViewModel>

@{
    ViewData["Title"] = "Processed orders";
}

<div class="container">
    <div class="mx-auto my-4">
        <div class="text-center mb-3">
            <h2>@ViewData["Title"]</h2>
        </div>

        <table id="dataTable" class="table table-hover dt-responsive nowrap" style="width: 100%;">
            <thead>
                <tr class="font-weight-bold">
                    <th>Fullname</th>
                    <th>Order Date</th>
                    <th>Total price</th>
                    <th>Discount code name</th>
                    <th>%</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in this.Model)
                {
                    <tr>
                        <td>@order.UserFullName</td>
                        <td><time datetime="@order.CreatedOn.ToString("O")"></time></td>
                        <td>@order.TotalPrice</td>
                        @if (order.DiscountCodeName != null)
                        {
                            <td>@order.DiscountCodeName</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@order.DiscountCodeDiscount</td>
                        <td>@order.StatusName</td>
                        <td>
                            <a class="btn btn-outline-primary" asp-area="Administration" asp-controller="Orders" asp-action="Products" asp-route-id="@order.Id">
                                <i class="fas fa-info"></i>
                                Products
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
