@model IEnumerable<OrderProductsListingViewModel>

@{
    ViewData["Title"] = "Order products";
}

<div class="container" style="margin-top: 100px;">
    <div class="mx-auto my-4">
        <div class="text-center mb-3">
            <h2>@ViewData["Title"]</h2>
        </div>

        <table id="dataTable" class="table table-hover dt-responsive nowrap" style="width: 100%;">
            <thead>
                <tr class="font-weight-bold">
                    <th>Product</th>
                    <th>Order Date</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total price</th>
                    <th>Discount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td><time datetime="@product.CreatedOn.ToString("O")"></time></td>
                        <td>@product.Quantity</td>
                        <td>@product.Price</td>
                        <td>@product.TotalPrice</td>
                        @if (product.OrderDiscountCodeDiscount != null)
                        {
                            <td>@product.OrderDiscountCodeDiscount</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>