@inject IViewLocalizer Localizer

@{
    this.ViewData["Title"] = Localizer["Home"];
    this.ViewData["Meta-Description"] = "Tiziana Terenzi draws its inspiration from the endless research and desire of enclosing emotions through the evocative power of fire and life lived at its fullness. Anniversary, with the stylistic idea of absolute purity, without any artificial adjustment. Luna, along with dreams and tears, love and reason, days of idleness and unfinished deeds, nestled in precious glass ampoules, just like the chivalric epic teaches. Luna Star Attar, with its handmade crystal bottle, to contain a perfume nectar with a pleasant and velvety consistency like honey. Luna Star Extrait de Parfum, with the creative flair aiming at new wonderful peaks and designed to preserve refined extracts. Assoluto, with the dreamlike experience of knowledge and magic in the shape of exclusive drops limited to a selected few. Comets, with its floating in the sky and a design enclosing transparencies and color, along with precious golds and the most refined art of Italian jewelry. Each Tiziana Terenzi collection paints a scenario of light, splendor and tales.";
    this.ViewData["Meta-Keywords"] = GlobalConstants.SystemName + ",Home,Index,Testimonials,Subscribe,Perfume,Products,Candles,Wax,Italy,Talian,Cereria Terenzi Evelino";
}

<section class="home-container">
    <section class="home-container-holder">
        <section class="items-container">
            <article class="picture-container">
                <picture>
                    <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1587154784/product_images/lecqvkmhh9hatre3kvhm.png" alt="fragrance">
                </picture>
            </article>
            <article class="picture-info-container animate__animated" data-aos="fade-left">
                <section class="picture-info-inner-container">
                    <h3 class="title">@Localizer["tiziana terenzi"]</h3>
                    <p>@Localizer["Our passion for what we do is the engine that transforms ideas into art."]</p>
                </section>
                <a asp-area="" asp-controller="Products" asp-action="All" class="button">@Localizer["discover"]</a>
            </article>
        </section>
        <section class="header-arrow">
            <a id="scrollDownArrow" href="#about-us-container">
                <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1605778627/product_images/k4sw8rl0cfcbrxjmwrl2.svg" alt="chevron-down">
            </a>
        </section>
    </section>
</section>
<section id="about-us-container" class="about-us-container animate__animated" data-aos="fade-up">
    <section class="about-us-inner-container">
        <section class="about-us-row">
            <article class="about-us-text">
                <header>
                    <h3>@Localizer["behind the brand"]</h3>
                </header>
                <main>
                    <p>@Localizer["Paolo Terenzi is the nose behind the brand. He spends countless days perfecting the formulas and we are proud to say that he has created many iconic fragrances that will leave a mark and create many great memories."]</p>
                </main>
                <footer>
                    <a asp-area="" asp-controller="Products" asp-action="All" class="button">@Localizer["discover"]</a>
                </footer>
            </article>
            <article class="about-us-picture">
                <picture>
                    <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1588236256/product_images/cczdewhjxpjw28bxcvvf.jpg" alt="about-us-image">
                </picture>
            </article>
        </section>
    </section>
</section>

@section CustomCss {
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/scroll-down-arrow.css" rel="stylesheet" asp-append-version="true" />
}