@using TizianaTerenzi.Common;
@using System.Security.Claims;
@inject UserManager<ApplicationUser> userManager
@inject IViewLocalizer Localizer

@{
    this.ViewData["Title"] = "Administration";
    string username = this.User.Identity.Name;
    string firstName = this.userManager.FindByNameAsync(username).Result.FirstName;
    string lastName = this.userManager.FindByNameAsync(username).Result.LastName;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/lib/semantic-ui/dist/components/icon.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/semantic-ui/dist/components/transition.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/semantic-ui/dist/components/label.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/semantic-ui/dist/components/dropdown.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/administration/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/datatables.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/administration/css/dropDown.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    @await this.RenderSectionAsync("CustomCss", false)
</head>
<body>
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3">@GlobalConstants.SystemName Admin <sup>2</sup></div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Users
            </div>
            <li class="nav-item">
                <a asp-area="Administration" asp-controller="Users" asp-action="Roles" class="nav-link">
                    <i class="fas fa-user-edit"></i>
                    <span>Roles</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Administration" asp-controller="Users" asp-action="AllUsers" class="nav-link">
                    <i class="fas fa-users-cog"></i>
                    <span>Users Information</span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Shop
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="true" aria-controls="collapseProducts">
                    <i class="fas fa-tags"></i>
                    <span>Products</span>
                </a>
                <div id="collapseProducts" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a asp-area="Administration" asp-controller="Products" asp-action="Create" class="collapse-item">Create Product</a>
                        <a asp-area="Administration" asp-controller="Notes" asp-action="Create" class="collapse-item">Create Note</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a asp-area="Administration" asp-controller="GeneralDiscounts" asp-action="Index" class="nav-link">
                    <i class="fas fa-percent"></i>
                    <span>General Discount</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDiscountCodes" aria-expanded="true" aria-controls="collapseProducts">
                    <i class="fas fa-percent"></i>
                    <span>Discount Codes</span>
                </a>
                <div id="collapseDiscountCodes" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a asp-area="Administration" asp-controller="DiscountCodes" asp-action="Index" class="collapse-item">All Discount Codes</a>
                        <a asp-area="Administration" asp-controller="DiscountCodes" asp-action="Create" class="collapse-item">Create Discount code</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Orders
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrders" aria-expanded="true" aria-controls="collapseProducts">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Orders</span>
                </a>
                <div id="collapseOrders" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a asp-area="Administration" asp-controller="Orders" asp-action="Index" class="collapse-item">All Orders</a>
                        <a asp-area="Administration" asp-controller="Orders" asp-action="Pending" class="collapse-item">Pending Orders</a>
                        <a asp-area="Administration" asp-controller="Orders" asp-action="Processed" class="collapse-item">Processed Orders</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item active">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                    <i class="fas fa-home"></i>
                    <span>Home Page</span>
                </a>
            </li>
            <li class="nav-item active">
                <a asp-area="" asp-controller="Products" asp-action="All" class="nav-link">
                    <i class="fas fa-tags"></i>
                    <span>Products</span>
                </a>
            </li>
            <li class="nav-item active">
                <a asp-area="" asp-controller="Home" asp-action="AboutUs" class="nav-link">
                    <i class="fas fa-store"></i>
                    <span>About Us</span>
                </a>
            </li>
            <li class="nav-item active">
                <a asp-area="" asp-controller="Contacts" asp-action="Index" class="nav-link">
                    <i class="fas fa-envelope"></i>
                    <span>Contacts</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link text-dark">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Products" asp-action="All" class="nav-link text-dark">Products</a>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@firstName @lastName</span>
                                <img class="img-profile rounded-circle" src="~/administration/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-userId="@this.User.FindFirst(ClaimTypes.NameIdentifier).Value" class="dropdown-item">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <form class="form-inline" asp-controller="Authentication" asp-action="Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))" method="post">
                                    <button class="dropdown-item" type="submit">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>

                <partial name="_TempDataPartial" />

                @this.RenderBody()
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>&copy; 2011-@DateTime.UtcNow.Year - <a href="https://tizianaterenzi.com/" target="_blank">@GlobalConstants.SystemName</a></span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/administration/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/administration/js/sb-admin-2.min.js"></script>
    <script src="~/lib/semantic-ui/dist/components/transition.min.js"></script>
    <script src="~/lib/semantic-ui/dist/components/dropdown.min.js"></script>
    <script src="~/lib/chart.js/dist/Chart.min.js" asp-append-version="true"></script>
    <script src="~/lib/chart.js/dist/chartjs-plugin-colorschemes.min.js" asp-append-version="true"></script>
    <script src="~/js/datatables-init.js" asp-append-version="true"></script>
    <script src="~/js/datatables.min.js" asp-append-version="true"></script>

    @await this.RenderSectionAsync("Scripts", false)
</body>
</html>
