@using System.Globalization
@model StatisticsIndexPageViewModel
@{
    this.ViewData["Title"] = "Statistics";
}

<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fas fa-euro-sign"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>@this.Model.TotalRevenueForTheCurrentMonth</span>
                    </div>
                    <div class="desc">Total Revenue for @DateTime.UtcNow.ToString("MMMM", CultureInfo.InvariantCulture)</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fas fa-box-open"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>@this.Model.NumberOfOrdersForTheCurrentMonth</span>
                    </div>
                    <div class="desc">All Orders in @DateTime.UtcNow.ToString("MMMM", CultureInfo.InvariantCulture)</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fas fa-user"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>@this.Model.NumberOfRegisteredUsers</span>
                    </div>
                    <div class="desc">Number of registered users</div>
                </div>
            </div>
        </div>
    </div>
    <div id="products-pie-chart-container"></div>
    <div id="orders-chart-container" style="margin-top: 2rem;"></div>
    <div id="orders-value-by-day-chart-container" style="margin-top: 2rem;"></div>
</div>

@section CustomCss {
    <link href="~/css/statistics.css" rel="stylesheet" asp-append-version="true" />
} 

@section Scripts {
    <script src="~/lib/highcharts/highcharts.js" asp-append-version="true"></script>
    <script>
        Highcharts.chart({
            data: {
                table: 'datatable'
            },
            chart: {
                type: 'column',
                renderTo: 'orders-chart-container'
            },
            title: {
                text: 'Orders count for the last 10 days'
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Orders count'
                }
            },
            xAxis: {
                categories: [
                    @Html.Raw(string.Join(", ", this.Model.OrdersFromTheLast10Days.Keys.Select(x => "'" + x.Date.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture) + "'").ToArray()))
                ],
                crosshair: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: "Count",
                data: [@string.Join(", ", this.Model.OrdersFromTheLast10Days.Values)],
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    }
                }]
            }
        });

        Highcharts.chart({
            chart: {
                zoomType: 'x',
                renderTo: 'orders-value-by-day-chart-container',
            },
            title: {
                text: 'Orders value by day for the last 10 days'
            },
            yAxis: {
                title: {
                    text: 'Orders value'
                }
            },
            xAxis: {
                categories: [
                    @Html.Raw(string.Join(", ", this.Model.SalesValueFromTheLast10Days.Keys.Select(x => "'" + x.Date.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture) + "'").ToArray()))
                ],
                type: 'datetime',
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                type: 'area',
                name: "The value of all orders",
                data: [@string.Join(", ", this.Model.SalesValueFromTheLast10Days.Values)],
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    }
                }]
            }
        });

         // Radialize the colors
        Highcharts.setOptions({
            colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
                return {
                    radialGradient: {
                        cx: 0.5,
                        cy: 0.3,
                        r: 0.7
                    },
                    stops: [
                        [0, color],
                        [1, Highcharts.color(color).brighten(-0.3).get('rgb')] // darken
                    ]
                };
            })
        });

        // Build the chart
        Highcharts.chart('products-pie-chart-container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Purchased products in ' + '@DateTime.UtcNow.ToString("MMMM", CultureInfo.InvariantCulture)' + ', @DateTime.UtcNow.ToString("yyyy", CultureInfo.InvariantCulture)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        connectorColor: 'silver'
                    }
                }
            },
            series: [{
                name: 'Share',
                data: [
                    @Html.Raw(string.Join(", ", this.Model.NumberOfPurchasesForEachProductForThisMonth.Select(p => "{ name: " + "'" + p.Key + "'" + ", y: " + p.Value + " }")))
                ]
            }]
        });
    </script>
}