@inject IViewLocalizer Localizer
@inject IConfiguration Configuration
@model OrderCheckoutViewModel

@{
    this.ViewData["Title"] = Localizer["Information"];
}

<div class="content">
    <section class="breadcrumbs-banner">
        <div style="width: 100%;">
            <nav class="breadcrumbs">
                <ul>
                    <li class="home">
                        <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                    </li>
                    <li class="dashboard">
                        <a asp-area="" asp-controller="Cart" asp-action="Index">@Localizer["Cart"]</a>
                    </li>
                    <li class="dashboard">
                        <span>@this.ViewData["Title"]</span>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="wrap">
        <main class="main">
            @*<form asp-area="" asp-controller="Cart" asp-action="SaveShippingData" method="post">*@
                <header class="main-header">
                    <a class="logo">
                        <img class="logo-img" src="https://res.cloudinary.com/pictures-storage/image/upload/v1588236442/product_images/xelpbxklgtxrjpyxw6he.png" alt="logo-img">
                    </a>
                </header>
                <main class="main-content">
                    <section>
                        <div asp-validation-summary="All" id="form-errors" class="text-danger"></div>

                        <input value="@this.Model.Email" id="email" type="hidden">
                        <section class="sections">
                            <article class="shipping-address-container">
                                <header class="shipping-address-header">
                                    <h1 class="title">Shipping address</h1>
                                </header>
                                <main class="shipping-address-main">
                                    <section class="fieldset">
                                        <section class="address-input-fields">
                                            <section class="field-wrapper half-field">
                                                <section class="field-inner-wrapper">
                                                    <input asp-for="@this.Model.FirstName" id="first-name" class="input-field" placeholder="First Name" type="text">
                                                    <span asp-validation-for="@this.Model.FirstName" class="text-danger"></span>
                                                </section>
                                            </section>
                                            <section class="field-wrapper half-field">
                                                <section class="field-inner-wrapper">
                                                    <input asp-for="@this.Model.LastName" id="last-name" class="input-field" placeholder="Last name" type="text">
                                                    <span asp-validation-for="@this.Model.LastName" class="text-danger"></span>
                                                </section>
                                            </section>
                                            <section class="field-wrapper">
                                                <section class="field-inner-wrapper">
                                                    <input asp-for="@this.Model.Address" id="address" class="input-field" placeholder="Address" type="text">
                                                    <span asp-validation-for="@this.Model.Address" class="text-danger"></span>
                                                </section>
                                            </section>
                                            <section class="field-wrapper">
                                                <section class="field-inner-wrapper">
                                                    <input asp-for="@this.Model.Town" id="town" class="input-field" placeholder="City" type="text">
                                                    <span asp-validation-for="@this.Model.Town" class="text-danger"></span>
                                                </section>
                                            </section>
                                            <section class="field-wrapper half-field">
                                                <section class="field-inner-wrapper">
                                                    <select asp-for="@this.Model.CountryId" data-live-search="true" title="Select Country..." asp-items="@this.Model.Countries" id="country" class="input-field">
                                                        <option value="">Select one...</option>
                                                    </select>
                                                </section>
                                            </section>
                                            <section class="field-wrapper half-field">
                                                <section class="field-inner-wrapper">
                                                    <input asp-for="@this.Model.PostalCode" id="postal-code" class="input-field" placeholder="Postal code" type="text">
                                                    <span asp-validation-for="@this.Model.PostalCode" class="text-danger"></span>
                                                </section>
                                            </section>
                                            <section class="field-wrapper">
                                                <section class="field-inner-wrapper">
                                                    <input asp-for="@this.Model.PhoneNumber" id="phone-number" class="input-field" placeholder="Phone" type="text">
                                                    <span asp-validation-for="@this.Model.PhoneNumber" class="text-danger"></span>
                                                </section>
                                            </section>
                                        </section>
                                    </section>
                                </main>
                            </article>
                        </section>
                    </section>
                </main>
                <footer class="shipping-address-footer">
                    <a asp-controller="Cart" asp-action="Index" class="return-link">
                        <svg focusable="false" aria-hidden="true" class="icon-svg icon-svg--color-accent icon-svg--size-10 previous-link-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4"></path></svg>
                        <span>@Localizer["Return to cart"]</span>
                    </a>
                    <button id="checkout-button" class="continue-btn btn btn-secondary" type="submit">@Localizer["Continue"]</button>
                </footer>
            @*</form>*@
        </main>
        <aside class="sidebar">
            <section class="sidebar-content">
                <article class="product-list">
                    <section class="product-list-inner">
                        <table class="product-table">
                            <tbody>
                                @foreach (var product in this.Model.Products)
                                {
                                    <tr class="product-row">
                                        <td class="product-image">
                                            <section class="product-thumbnail-wrapper">
                                                <section class="product-thumbnail">
                                                    <img class="product-thumbnail-image" src="@product.ProductPicture" alt="image-@product.ProductName">
                                                </section>
                                                <span class="product-thumbnail-quantity">@product.Quantity</span>
                                            </section>
                                        </td>
                                        <th class="product-description">
                                            <span class="product-description-name">@product.ProductName</span>
                                            @if (product.DiscountCodeName != null)
                                            {
                                                <span class="tag-icon fas fa-tags" alt="tags"></span>
                                                <span>@product.DiscountCodeName</span>
                                            }
                                        </th>
                                        <td class="product-price">
                                            <span>€ @product.ProductPriceWithDiscountCode</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                </article>
                <article class="order-summary">
                    <table>
                        <tbody class="summary-tbody">
                            <tr>
                                <th class="subtotal-line">@Localizer["Subtotal"]</th>
                                <td class="subtotal-line price">
                                    <span class="subtotal-line-price">€ @this.Model.Products.Sum(order => order.TotalPrice).ToString("F2")</span>
                                </td>
                            </tr>
                                <tr>
                                    <th class="subtotal-line">@Localizer["Shipping"]</th>
                                    <td class="subtotal-line">
                                        <span class="subtotal-line-price">@this.Model.ShippingFeeRow</span>
                                    </td>
                                </tr>
                        </tbody>
                        <tfoot class="summary-tfoot">
                            <tr>
                                <th class="total-line-name"><span>@Localizer["Total"]</span></th>
                                <td class="total-line-price">
                                    <span>
                                        € <span id="total-line-price-without-currency">
                                            @if (this.Model.CountryId != this.Model.BulgariaId)
                                            {
                                                @(this.Model.Products.Sum(order => order.TotalPrice) + @GlobalConstants.ShippingFee)
                                            }
                                            else
                                            {
                                                @(this.Model.Products.Sum(order => order.TotalPrice))
                                            }
                                         </span>
                                    </span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </article>
            </section>
        </aside>
    </section>
</div>

<form method="post" id="antiForgeryForm"></form>

@section CustomCss {
    <link href="~/css/order-checkout.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/breadcrumbs.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        let errors = $('#form-errors').val();
        let checkoutButton = document.getElementById("checkout-button");

        checkoutButton.addEventListener("click", function () {
            let antiForgeryToken = $("#antiForgeryForm input[name=__RequestVerificationToken]").val();
            // Create an instance of the Stripe object with your publishable API key
            let stripe = Stripe("@this.Configuration["Stripe:PublishableKey"]");
            let email = $("#email").val();
            let firstName = $("#first-name").val();
            let lastName = $("#last-name").val();
            let address = $("#address").val();
            let town = $("#town").val();
            let country = $("#country").val();
            let postalCode = $("#postal-code").val();
            let phoneNumber = $("#phone-number").val();

            let json = { email: email, firstName: firstName, lastName: lastName, address: address, town: town, countryId: country, postalCode: postalCode, phoneNumber: phoneNumber }; // shippingDataInputModel

            fetch("/payment/pay", {
                method: "POST",
                body: JSON.stringify(json),
                headers: {
                    'X-CSRF-TOKEN': antiForgeryToken,
                    'Content-Type': 'application/json'
                },
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
        });
    </script>
}