@inject IViewLocalizer Localizer
@model IEnumerable<WishlistViewModel>

@{
    this.ViewData["Title"] = Localizer["Wishlist"];
}

<div class="main">
    <section class="breadcrumbs-banner">
        <div style="width: 100%;">
            <nav class="breadcrumbs">
                <ul>
                    <li class="home">
                        <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                    </li>
                    <li class="dashboard">
                        <span>@this.ViewData["Title"]</span>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <header class="text-center pt-4">
        <h2>@ViewData["Title"]</h2>
    </header>
    <section class="container">
        <section class="row">
            <section class="inner-row">
                <section class="products-list-container">
                    <section class="products-list">
                        @foreach (var product in this.Model)
                        {
                            <article class="items-col">
                                <section class="wrapper-item">
                                    <section class="wrapper-item-inner">
                                        <section class="product-image-container">
                                            <a class="product-image-link" href="@product.Url" title="@product.ProductName">
                                                <img class="product-image front" src="@product.ProductPicture" alt="@product.ProductName">
                                                <img class="product-image back" src="@product.ProductPicture" alt="@product.ProductName">
                                                <section class="image-overlay"></section>
                                            </a>
                                        </section>
                                        <section>
                                            <form asp-area="" asp-controller="Wishlist" asp-action="Delete" asp-route-productId="@product.Id" method="post">
                                                <button class="wishlist-btn stickers" type="submit">
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                            </form>
                                        </section>
                                        @if (product.ProductPrice != product.ProductPriceWithGeneralDiscount)
                                        {
                                            <section>
                                                <div class="sticker-discount stickers">
                                                    <span class="sticker-text">-@product.Discount%</span>
                                                </div>
                                            </section>
                                        }
                                        <section>
                                            @if ((product.ProductYearOfManufacture == DateTime.UtcNow.Year || product.ProductYearOfManufacture == DateTime.UtcNow.AddYears(-1).Year) && product.ProductPrice == product.ProductPriceWithGeneralDiscount)
                                            {
                                                <div class="sticker-new-top stickers">
                                                    <span class="sticker-text">@Localizer["New"]</span>
                                                </div>
                                            }
                                            else if ((product.ProductYearOfManufacture == DateTime.UtcNow.Year || product.ProductYearOfManufacture == DateTime.UtcNow.AddYears(-1).Year) && product.ProductPrice != product.ProductPriceWithGeneralDiscount)
                                            {
                                                <div class="sticker-new stickers">
                                                    <span class="sticker-text">@Localizer["New"]</span>
                                                </div>
                                            }
                                        </section>
                                        <section class="actions">
                                            <div class="link-actions"></div>
                                            <form asp-area="" asp-controller="Cart" asp-action="AddProductInTheCart" asp-route-productId="@product.ProductId" method="post">
                                                <button class="btn-cart" type="submit">@Localizer["Add to Cart"]</button>
                                            </form>
                                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                            {
                                                <a class="btn-edit" asp-area="Administration" asp-controller="Products" asp-action="Edit" asp-route-productId="@product.ProductId">
                                                    <span>@Localizer["Edit Product"]</span>
                                                </a>
                                                <form asp-area="Administration" asp-controller="Products" asp-action="Delete" asp-route-productId="@product.ProductId" method="post">
                                                    <button class="button-delete" type="submit">
                                                        <span>@Localizer["Delete Product"]</span>
                                                    </button>
                                                </form>
                                            }
                                        </section>
                                    </section>
                                    <section class="product-info">
                                        <a title="@product.ProductName" href="@product.Url">
                                            <header>
                                                <h6 class="product-name">
                                                    <span>@product.ProductName</span>
                                                </h6>
                                            </header>
                                            <footer class="price-box">
                                                @if (product.ProductPrice > product.ProductPriceWithGeneralDiscount)
                                                {
                                                    <div class="old-price-box">
                                                        <span class="old-price">@product.ProductPrice</span>
                                                    </div>
                                                }
                                                <div>
                                                    <span class="price">EUR @product.ProductPriceWithGeneralDiscount</span>
                                                </div>
                                            </footer>
                                        </a>
                                    </section>
                                </section>
                            </article>
                        }
                    </section>
                </section>
            </section>
        </section>
    </section>
</div>

<form method="post" id="antiForgeryForm"></form>

@section CustomCss {
    <link href="~/css/products.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/product-card.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/breadcrumbs.css" rel="stylesheet" asp-append-version="true" />
}