@model EditProductInputModel

@{
    ViewData["Title"] = "Edit a Product";
}

<div class="w-75 w-md-50 text-center mx-auto create-product-wrapper">
    <div class="row space-top">
        <div class="col-md-12">
            <h2 class="title">@ViewData["Title"]</h2>
        </div>
    </div>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post" enctype="multipart/form-data">
        <section class="form-group">
            <label asp-for="@this.Model.Name">Name</label>
            <section class="field mb-4">
                <input asp-for="@this.Model.Name" class="form-control" placeholder="Name" type="text" />
                <span asp-validation-for="@this.Model.Name" class="text-danger"></span>
            </section>
        </section>
        <section class="form-group">
            <label asp-for="@this.Model.ProductTypeId" class="control-label">Product Type</label>
            <section class="field mb-4">
                <select class="form-control selectpicker" data-live-search="true" title="Select Product Type..."
                        id="productType" asp-for="@this.Model.ProductTypeId" asp-items="@this.Model.ProductTypes">
                </select>
                <span asp-validation-for="@this.Model.ProductTypeId" class="text-danger"></span>
            </section>
        </section>
        <section class="form-group">
            <label asp-for="@this.Model.FragranceGroupId" class="control-label">Fragrance Group</label>
            <section class="field mb-4">
                <select class="form-control selectpicker" data-live-search="true" title="Select Fragrance Group..."
                        id="fragranceGroup" asp-for="@this.Model.FragranceGroupId" asp-items="@this.Model.FragranceGroups">
                </select>
                <span asp-validation-for="@this.Model.FragranceGroupId" class="text-danger"></span>
            </section>
        </section>
        <section class="form-group">
            <label asp-for="@this.Model.NoteIds" class="control-label">Notes</label>
            <section class="field mb-4">
                <select class="form-control selectpicker" data-live-search="true" multiple title="Select Notes..."
                        id="note" asp-for="@this.Model.NoteIds" asp-items="@this.Model.Notes">
                </select>
                <span asp-validation-for="@this.Model.NoteIds" class="text-danger"></span>
            </section>
        </section>
        <section class="form-group">
            <label asp-for="@this.Model.Description">Description</label>
            <section class="field mb-4">
                <textarea asp-for="@this.Model.Description" class="form-control"></textarea>
                <span asp-validation-for="@this.Model.Description" class="text-danger"></span>
            </section>
        </section>
        <section class="form-group">
            <label asp-for="@this.Model.Price">Price</label>
            <section class="field mb-4">
                <input class="form-control" asp-for="@this.Model.Price" placeholder="Price" type="number" />
                <span asp-validation-for="@this.Model.Price" class="text-danger"></span>
            </section>
        </section>
        <section class="form-group">
            <label asp-for="@this.Model.Picture">Image file</label>
            <section class="field mb-4">
                <div class="custom-file">
                    <input asp-for="@this.Model.Picture" id="customFile" class="custom-file-input form-control" type="file">
                    <label asp-for="@this.Model.Picture" class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="@this.Model.Picture" class="text-danger"></span>
            </section>
        </section>
        <section class="form-group">
            <label asp-for="@this.Model.YearOfManufacture">Year of manufacture</label>
            <section class="field mb-4">
                <input asp-for="@this.Model.YearOfManufacture" class="form-control" placeholder="Year of manufacture" type="number" />
                <span asp-validation-for="@this.Model.YearOfManufacture" class="text-danger"></span>
            </section>
        </section>
        <section class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Edit</button>
        </section>
    </form>
</div>

@section Scripts {
    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>

    <script>
        var productType = $('#productType');
        var selectedProductType = $('#productTypeSelected');

        productType.find('option:first').appendTo(productType);

        productType.change(function () {
            var value = $(this).val();

            if (value == 'OtherProductType') {
                selectedProductType.show();
                selectedProductType.val('');
                selectedProductType.trigger('focus');
            } else {
                selectedProductType.hide();
                selectedProductType.val(value);
                $('#fragranceGroup').trigger('focus');
            }
        });

        var fragranceGroup = $('#fragranceGroup');
        var selectedFragranceGroup = $('#fragranceGroupSelected');

        fragranceGroup.find('option:first').appendTo(fragranceGroup);

        fragranceGroup.change(function () {
            var value = $(this).val();

            if (value == 'OtherFragranceGroup') {
                selectedFragranceGroup.show();
                selectedFragranceGroup.val('');
                selectedFragranceGroup.trigger('focus');
            } else {
                selectedFragranceGroup.hide();
                selectedFragranceGroup.val(value);
                $('#note').trigger('focus');
            }
        });

        var note = $('#note');
        var selectedNote = $('#noteSelected');

        note.find('option:first').appendTo(note);

        note.change(function () {
            var value = $(this).val();

            if (value == 'OtherNote') {
                selectedNote.show();
                selectedNote.val('');
                selectedNote.trigger('focus');
            } else {
                selectedNote.hide();
                selectedNote.val(value);
            }
        });

        tinymce.init({
            selector: "textarea",
            plugins: [
                "image paste table link code media"
            ]
        });
    </script>
}

@section CustomCss {
    <style>
        .create-product-wrapper {
            padding-top: 100px;
        }

        .custom-file-label {
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: left;
            border-radius: 50px;
        }

        .custom-file-label:after {
            border-radius: 0 20px 20px 0;
        }
    </style>
}