@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject IViewLocalizer Localizer
@model ContactMessageInputModel

@{ 
    this.ViewData["Title"] = Localizer["Contacts"];
}

<section class="contacts-container">
    <section class="container-holder">
        <h2 class="main-title">@Localizer["Contacts"]</h2>
        <section class="items-container">
            <article class="col-lg-3 contact-container">
                <section class="row">
                    <section class="col-12">
                        <h5 class="contact-title">@Localizer["customer service"]</h5>
                    </section>
                    <section class="col-6 col-lg-12 contact-block-item">
                        <dl>
                            <dt>@Localizer["Phone"]:</dt>
                            <dd><a href="tel:+390541820311">+39 0541 820311</a></dd>
                            <dt>@Localizer["Fax"]:</dt>
                            <dd><a href="fax:+390541.820312">+39 0541.820312</a></dd>
                            <dt>@Localizer["Emails"]:</dt>
                            <dd><a href="mailto:info@cereriaterenzi.com">info@cereriaterenzi.com</a></dd>
                            <dd><a href="mailto:info@tizianaterenzi.com">info@tizianaterenzi.com</a></dd>
                            <dd><a href="mailto:cereriaterenzievelino@pec.it">cereriaterenzievelino@pec.it</a></dd>
                        </dl>
                    </section>
                </section>
            </article>
            <article class="col-lg-4 col-xl-5 picture-container">
                <picture>
                    <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1587154784/product_images/lecqvkmhh9hatre3kvhm.png" alt="dubhe">
                </picture>
            </article>
            <article class="col-lg-4 col-xl-4">
                <form asp-controller="Contacts" asp-action="Index" id="contact-form" class="contact-form" method="post">
                    <h5 class="form-title">@Localizer["contact form"]</h5>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <section class="input-holder form-group">
                        <input asp-for="@this.Model.Name" type="text" placeholder="@Localizer["name"]">
                        <span asp-validation-for="@this.Model.Name" class="text-danger"></span>
                    </section>
                    <section class="input-holder form-group">
                        <input asp-for="@this.Model.Email" type="email" placeholder="email address">
                        <span asp-validation-for="@this.Model.Email" class="text-danger"></span>
                    </section>
                    <section class="input-holder form-group">
                        <input asp-for="@this.Model.Subject" type="text" placeholder="@Localizer["subject"]">
                        <span asp-validation-for="@this.Model.Subject" class="text-danger"></span>
                    </section>
                    <section class="input-holder pt-4 pt-lg-3 form-group">
                        <textarea asp-for="@this.Model.Content" name="content" rows="6" placeholder="@Localizer["message"]"></textarea>
                        <span asp-validation-for="@this.Model.Content" class="text-danger"></span>
                    </section>
                    <section class="form-btn">
                        <p>
                            @Localizer["By clicking ‘Submit’ button below, I agree to the"]
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy Policy"]</a>
                        </p>
                        <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
                        <span asp-validation-for="@this.Model.RecaptchaValue" class="text-danger"></span>
                        <button class="button contact-button" type="submit">@Localizer["send"]</button>
                    </section>
                </form>
            </article>
        </section>
    </section>
</section>
<div id="mapdiv" style="width: 100%; height: 350px; position: relative;"></div>

@section CustomCss {
    <link href="~/css/contacts.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/leaflet/dist/leaflet.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'contact_form' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>

    <script src="~/lib/leaflet/dist/leaflet.min.js" asp-append-version="true"></script>
    <script>
        var mymap = L.map('mapdiv').setView([43.9496852, 12.7372585], 13);

        // TODO: do not use the documentation access_token. Make your own access_token.
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
        }).addTo(mymap);

        var marker = L.marker([43.9496852, 12.7372585]).addTo(mymap);
        var popup = L.popup();

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("Candle Palace headquarter - 47841 Cattolica - Italy")
                .openOn(mymap);
        }

        marker.on('click', onMapClick);
    </script>
}
